* {
    margin: 0;
    padding: 0;
    background-color: beige;
}

#header-img {
    width: 100vw;
    z-index: -1;
}

#main-header {
    text-decoration: underline;
    background-color: beige;
    font-size: 300%;
    position: absolute;
    margin-top: -50%;
    margin-left: 25%;
    h4 {
        margin-left: 38%;
    }
}

#watagans {
    margin-left: 3%;
    h2 {
        font-size: 400%;
        font-style: italic;
        text-decoration: underline;
    }
    h6 {
        margin-left: 90%;
        font-size: 90%;
        text-decoration: underline;
    }
    p {
        display: flex;
        width: 40%;
        font-size: 200%;
    }
    img {
        position: absolute;
        width: 45vw;
        margin-left: 45%;
        margin-top: -30%;
    }
}

#belanglo {
    margin-left: 3%;
    h2 {
        font-size: 400%;
        font-style: italic;
        text-decoration: underline;
    }
    h6 {
        margin-left: 90%;
        font-size: 90%;
        text-decoration: underline;
    }
    p {
        display: flex;
        width: 40%;
        font-size: 200%;
    }
    img {
        position: absolute;
        width: 25vw;
        margin-left: 45%;
        margin-top: -24%;
    }
}

#newnes {
    margin-left: 3%;
    h2 {
        font-size: 400%;
        font-style: italic;
        text-decoration: underline;
    }
    h6 {
        margin-left: 90%;
        font-size: 90%;
        text-decoration: underline;
    }
    p {
        display: flex;
        width: 40%;
        font-size: 200%;
    }
    img {
        position: absolute;
        width: 45vw;
        margin-left: 45%;
        margin-top: 5%;
    }
}

#jenolan {
    margin-left: 3%;
    h2 {
        text-decoration: underline;
        font-size: 400%;
        font-style: italic;
        text-decoration: underline;
    }
    h6 {
        text-decoration: underline;
        margin-left: 90%;
        font-size: 90%;
    }
    p {
        display: flex;
        width: 40%;
        font-size: 200%;
    }
    img {
        position: absolute;
        width: 40vw;
        margin-left: 45%;
        margin-top: -24%;
    }
}

#stockton {
    margin-left: 3%;
    h2 {
        text-decoration: underline;
        font-size: 400%;
        font-style: italic;
    }
    h6 {
        text-decoration: underline;
        margin-left: 90%;
        font-size: 90%;
    }
    p {
        display: flex;
        width: 40%;
        font-size: 200%;
    }
    img {
        position: absolute;
        width: 45vw;
        margin-left: 45%;
        margin-top: 0%;
    }
}