@import "mixin";
.experience {
    @include content-center;
    margin-top: 100vh;
    div {
        @include landing-content;
    }
}

.exp-content {
    div {
        @include landing-content;
    }
    @include center;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: -8%;
    margin-left: 20%;
    width: 50%;
    .exp-list {
        margin-top: 1%;
        margin-left: 0vw;
        font-size: medium;
        h2 {
            @include font-style;
        }
        p {
            font-size: medium;
        }
    }
}

.resume-div {
    @include center;
    margin-top: -30%;
    margin-left: 75%;
    border-radius: 50%;
    .resume {
        img {
            @include center;
            height: 35%;
            width: 20vw;
            border-radius: 50%;
            border: 5px solid azure;
        }
        div {
            text-align: center;
        }
    }
}

@media only screen and (max-width: 3000px) {
    .experience {
        font-size: 80%;
        margin-top: 100vh;
        padding-top: 5vh;
    }
}

@media only screen and (max-width: 1024px) {
    .experience {
        font-size: 60%;
        margin-top: 70vh;
        padding-top: 20vh;
    }
}

@media only screen and (max-width: 600px) {
    .experience {
        font-size: 40%;
        margin-top: 100vh;
        padding-top: 30vh;
    }
    .exp-content {
        margin-top: 5%;
        justify-content: center;
        font-size: 70%;
        width: 45vw;
        height: auto;
        .exp-list {
            width: 120%;
            font-size: 100%;
            p {
                font-size: 100%;
            }
        }
    }
    .resume-div {
        img {
            visibility: hidden;
        }
        div {
            margin-top: 20%;
        }
    }
}