@import "mixin";
.hobbies {
    @include content-center;
    margin-top: 200vh;
    div {
        @include landing-content;
    }
}

@media only screen and (max-width: 3000px) {
    .hobbies {
        font-size: 80%;
        margin-top: 200vh;
        padding-top: 5vh;
    }
}

@media only screen and (max-width: 1024px) {
    .hobbies {
        font-size: 60%;
        margin-top: 200vh;
        padding-top: 20vh;
    }
}

@media only screen and (max-width: 600px) {
    .hobbies {
        font-size: 40%;
        margin-top: 200vh;
        padding-top: 30vh;
    }
}