    @import "mixin";
    .hobbies {
        @include content-center;
        margin-top: 200vh;
        div {
            @include landing-content;
        }
    }
    
    .hob-content {
        @include center;
        @include landing-content;
        @include page-content;
        a {
            font-size: x-large;
        }
    }
    
    @media only screen and (max-width: 1024px) {
        .hobbies {
            font-size: 60%;
            margin-top: 200vh;
            padding-top: 20vh;
        }
        .hob-content {
            @include page-content-1024;
        }
        @media only screen and (max-width: 600px) {
            .hobbies {
                font-size: 40%;
                margin-top: 200vh;
                padding-top: 30vh;
            }
            .hob-content {
                @include page-content-600;
            }
        }
    }