   @mixin center {
       display: flex;
       justify-content: center;
       align-items: center;
   }
   
   @mixin content-center {
       //    background-color: rgb(4, 0, 255);
       justify-content: center;
       width: 55%;
       position: absolute;
       left: 34vw;
       top: 25vh;
   }
   
   * {
       margin: 0;
       font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
       scroll-behavior: smooth
   }
   
   html,
   body {
       margin: 0;
       height: 100%;
       overflow: hidden;
       scroll-behavior: smooth;
   }
   
   a {
       color: antiquewhite;
   }
   
   .nav-bar {
       @include center;
       width: 25%;
       min-height: 100vh;
       top: 0;
       left: 0;
       position: fixed;
       ul {
           list-style-type: none;
       }
       a {
           @include center;
           text-decoration: none;
           font-weight: bold;
           font-size: xx-large;
           margin: 50%;
       }
   }
   
   .experience {
       @include content-center;
       margin-top: 100%;
       div {
           margin-top: 20%;
           background-color: azure;
           font-size: 3rem;
           opacity: 70%;
           a {
               color: blue
           }
       }
   }
   
   .hobbies {
       @include content-center;
       margin-top: 200%;
   }
   
   .projects {
       @include content-center;
       margin-top: 300%;
   }
   
   .social {
       @include content-center;
       margin-top: 400%;
   }
   
   .home {
       h3 {
           margin-left: 1%;
           font-family: Arial, Helvetica, sans-serif;
           font-size: large;
           position: fixed;
           color: white;
       }
   }
   
   .intro {
       margin-left: 60%;
       margin-top: -22.5%;
       color: white;
       font-size: 2rem;
   }