@import "mixin";
* {
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    scroll-behavior: smooth
}

html body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    scroll-behavior: smooth;
}

a {
    color: antiquewhite;
}

.nav-bar {
    @include center;
    width: 25%;
    min-height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    ul {
        list-style-type: none;
    }
    a {
        @include center;
        text-decoration: none;
        font-weight: bold;
        font-size: 2rem;
        margin: 50%;
    }
}

.intro {
    margin-left: 60%;
    color: white;
    font-size: 2rem;
    h2 {
        font-size: 80%;
    }
}

@media only screen and (max-width: 3000px) {
    .nav-bar {
        a {
            font-size: 2vW;
        }
    }
    .intro {
        font-size: 2vw;
        margin-top: -25%;
        margin-left: 70%;
        h2 {
            font-size: 80%;
        }
    }
}

@media only screen and (max-width: 1024px) {
    .nav-bar {
        a {
            font-size: 150%;
        }
    }
    .intro {
        font-size: 2vw;
        margin-top: -25%;
        margin-left: 70%;
        h2 {
            font-size: 80%;
        }
    }
}

@media only screen and (max-width: 600px) {
    .nav-bar {
        a {
            font-size: 100%;
        }
    }
    .intro {
        font-size: 2vh;
        margin-top: 2vh;
        margin-left: 40%;
        h2 {
            font-size: 80%;
        }
    }
}