* {
  margin: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  scroll-behavior: smooth;
}

html body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  scroll-behavior: smooth;
}

a {
  color: antiquewhite;
}

.nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 25%;
  min-height: 100%;
  top: 0;
  left: 0;
  position: fixed;
}

.nav-bar ul {
  list-style-type: none;
}

.nav-bar a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  font-weight: bold;
  font-size: xx-large;
  margin: 50%;
}

.intro {
  margin-left: 60%;
  margin-top: -18%;
  color: white;
  font-size: 2rem;
}

@media only screen and (max-width: 600px) {
  .nav-bar a {
    font-size: 100%;
  }
  .intro {
    font-size: 85%;
    margin-top: 15%;
    margin-left: 40%;
  }
}

.landing-img {
  position: fixed;
  top: 0%;
  left: 0%;
  z-index: -1;
}

.landing-img img {
  width: 100vw;
  height: 100%;
}

.profile-img {
  height: 50vh;
  width: 25vw;
  margin-left: 25%;
  border-radius: 50%;
  margin-top: 15%;
}

.social img {
  margin-bottom: 20%;
}

@media only screen and (max-width: 600px) {
  .landing-img {
    position: fixed;
    width: 100%;
    height: 100vh;
  }
  .social img {
    height: 100%;
    width: 55vw;
    margin-top: 100%;
    padding-bottom: 30vh;
  }
  .profile-img {
    margin-left: 38%;
    height: 30vh;
    width: 30vh;
  }
}

.projects {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 55%;
  position: absolute;
  left: 34%;
  top: 25%;
  margin-top: 300vh;
}

.projects div {
  margin-top: 20%;
  background-color: azure;
  font-size: 250%;
  opacity: 70%;
  border: 2vw solid azure;
}

.projects div a {
  color: blue;
}

.projects div h1 {
  text-decoration: underline;
}

@media only screen and (max-width: 600px) {
  .projects {
    font-size: 40%;
    margin-top: 300vh;
    padding-top: 30vh;
  }
}

.social {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 55%;
  position: absolute;
  left: 34%;
  top: 25%;
  margin-top: 400vh;
}

.social div {
  margin-top: 20%;
  background-color: azure;
  font-size: 250%;
  opacity: 70%;
  border: 2vw solid azure;
  margin-top: 0px;
}

.social div a {
  color: blue;
}

.social div h1 {
  text-decoration: underline;
}

.experience {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 55%;
  position: absolute;
  left: 34%;
  top: 25%;
  margin-top: 100vh;
}

.experience div {
  margin-top: 20%;
  background-color: azure;
  font-size: 250%;
  opacity: 70%;
  border: 2vw solid azure;
}

.experience div a {
  color: blue;
}

.experience div h1 {
  text-decoration: underline;
}

@media only screen and (max-width: 600px) {
  .experience {
    font-size: 40%;
    margin-top: 100vh;
    padding-top: 30vh;
  }
}

.hobbies {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 55%;
  position: absolute;
  left: 34%;
  top: 25%;
  margin-top: 200vh;
}

.hobbies div {
  margin-top: 20%;
  background-color: azure;
  font-size: 250%;
  opacity: 70%;
  border: 2vw solid azure;
}

.hobbies div a {
  color: blue;
}

.hobbies div h1 {
  text-decoration: underline;
}

@media only screen and (max-width: 600px) {
  .hobbies {
    font-size: 40%;
    margin-top: 200vh;
    padding-top: 30vh;
  }
}
/*# sourceMappingURL=main.css.map */