@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin content-center {
    justify-content: center;
    width: 55%;
    position: absolute;
    left: 34%;
    top: 25%;
}

@mixin landing-content {
    margin-top: 20%;
    background-color: azure;
    font-size: 250%;
    opacity: 70%;
    border: 2vw solid azure;
    a {
        color: blue
    }
    h1 {
        text-decoration: underline;
    }
}

@mixin font-style {
    font-style: italic;
    font-weight: bold;
}