@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin content-center {
    //    background-color: rgb(4, 0, 255);
    justify-content: center;
    width: 55%;
    position: absolute;
    left: 34vw;
    top: 25vh;
}

@mixin landing-content {
    margin-top: 20%;
    background-color: azure;
    font-size: 3rem;
    opacity: 70%;
    a {
        color: blue
    }
    h1 {
        text-decoration: underline;
    }
}