@import "mixin";
.projects {
    @include content-center;
    margin-top: 300vh;
    div {
        @include landing-content;
    }
}

.proj-content {
    @include landing-content;
}

@media only screen and (max-width: 1024px) {
    .projects {
        font-size: 60%;
        margin-top: 300vh;
        padding-top: 20vh;
    }
    .proj-content {
        @include landing-content;
        margin-left: 20%;
        margin-top: 10%;
        max-width: 50%;
        flex-direction: column;
        font-size: 60%;
        h1 {
            font-size: 6em;
        }
        h2 {
            font-size: 4em;
            @include font-style;
        }
        p {
            font-size: 2em;
        }
        div {
            margin: 2%;
        }
    }
}

@media only screen and (max-width: 600px) {
    .projects {
        font-size: 40%;
        margin-top: 300vh;
        padding-top: 30vh;
    }
    .proj-content {
        @include landing-content;
        margin-left: 25%;
        margin-top: 32%;
        max-width: 65%;
        flex-direction: column;
        font-size: 60%;
        h1 {
            font-size: 3.8em;
        }
        h2 {
            font-size: 1.8em;
            @include font-style;
        }
        p {
            font-size: .8em;
        }
        div {
            margin: 2%;
        }
    }
}