@import "mixin";
.projects {
    @include content-center;
    margin-top: 300vh;
    div {
        @include landing-content;
    }
}

.proj-content {
    @include center;
    @include landing-content;
    @include page-content;
}

@media only screen and (max-width: 3000px) {
    .projects {
        font-size: 80%;
        margin-top: 300vh;
        padding-top: 5vh;
    }
}

@media only screen and (max-width: 1024px) {
    .projects {
        font-size: 60%;
        margin-top: 300vh;
        padding-top: 20vh;
    }
    .proj-content {
        @include page-content-1024;
    }
}

@media only screen and (max-width: 600px) {
    .projects {
        font-size: 40%;
        margin-top: 300vh;
        padding-top: 30vh;
    }
    .proj-content {
        @include page-content-600;
    }
}